{% include 'CibCoreBundle:Core:displayFormErrors.html.twig' %}
<table class="table table-bordered table-responsive">
    <tr>
        <td>{{ form_label(form.ftpUrl) }}</td>
        <td>{{ form_widget(form.ftpUrl) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.ftpPort) }}</td>
        <td>{{ form_widget(form.ftpPort) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.ftpUser) }}</td>
        <td>{{ form_widget(form.ftpUser) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.ftpPassword) }}</td>
        <td>{{ form_widget(form.ftpPassword) }}</td>
    </tr>
</table>


{{ form_rest(form) }}
<button type="submit" name="valid" >Valider</button>