{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > Parametres
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}
    {% for parameter in parameters %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                <table class="table table-responsive">
                    <thead>
                    <tr class="titleTable">
                        <th>url ftp</th>
                        <th>port ftp</th>
                        <th>login ftp</th>
                        <th>mdp ftp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row0">
                        <td>{{ parameter.ftpUrl }}</td>
                        <td>{{ parameter.ftpPort }}</td>
                        <td>{{ parameter.ftpUser }}</td>
                        <td>{{ parameter.ftpPassword }}</td>
                    </tr>
                    </tbody>
                </table>


                </div>
            </div>
        </div>
        {% if app.user is not null and is_granted('ROLE_ADMIN')%}
        <div class="row">
            <div class="container">
                <div class="col-md-offset-5 col-xs-offset-4">
                    <a href="{{ path('editParameters',{'id':parameter.parameterId}) }}" class="btn btn-primary">modifier</a>
                </div>
            </div>
        </div>
        {% endif %}

        {#<a href="{{ path('deleteStore',{'id':store.storeId,'token':store.token}) }}">supprimer</a>#}

    {% else %}
        Aucun parametres à afficher <a href="{{ path('addParameters') }}">Paramétrer</a>
    {% endfor %}


{% endblock body %}