{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}
    {% for parameter in parameters %}
        <table>
            <thead>
            <tr>
                <th>PME1</th>
                <th>PME2</th>
                <th>PME3</th>
                <th>PME4</th>
                <th>PME5</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" {% if parameter.Pme1 %} checked {% endif %} disabled> </td>
                <td><input type="checkbox" {% if parameter.Pme2 %} checked {% endif %} disabled> </td>
                <td><input type="checkbox" {% if parameter.Pme3 %} checked {% endif %} disabled> </td>
                <td><input type="checkbox" {% if parameter.Pme4 %} checked {% endif %} disabled> </td>
                <td><input type="checkbox" {% if parameter.Pme5 %} checked {% endif %} disabled> </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>url ftp</th>
                <th>port ftp</th>
                <th>login ftp</th>
                <th>mdp ftp</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ parameter.ftpUrl }}</td>
                <td>{{ parameter.ftpPort }}</td>
                <td>{{ parameter.ftpUser }}</td>
                <td>{{ parameter.ftpPassword }}</td>
            </tr>
            </tbody>
        </table>




        <a href="{{ path('editParameters',{'id':parameter.parameterId}) }}">modifier</a>
        {#<a href="{{ path('deleteStore',{'id':store.storeId,'token':store.token}) }}">supprimer</a>#}

    {% else %}
        Aucun parametres à afficher <a href="{{ path('addParameters') }}">Paramétrer</a>
    {% endfor %}


{% endblock body %}