{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('displayClient') }}">Clients</a> > Consulter
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <center><h1 class="title">Consulter les informations de {{ client.clientName }} {{ client.clientFirstName }}</h1></center><br>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <ul class="nav nav-pills" role="tablist" id="clientTab">
                <li class="active"><a href="#ec" role="tab" data-toggle="tab" style="border:solid grey 1px">Etat Civil</a></li>
                <li><a href="#bank" role="tab" data-toggle="tab" style="border:solid grey 1px">Bancaire</a></li>
                <li><a href="#club" role="tab" data-toggle="tab" style="border:solid grey 1px">Club</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container well well-lg">
        <div class="tab-content">
        <div class="tab-pane active" id="ec">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('editClient',{'id':client.clientId,'page':page}) }}" class="btn btn-warning" style="padding-top: 50px;padding-bottom: 50px">Modifier</a>
                    {% endif %}
                </div>
                <div class="col-xs-offset-1 col-md-offset-1 col-xs-8 col-md-8">
                    <table class="table table-responsive">
                        <tr class="titleTable">
                            <td colspan="2">NUMERO DE CLIENT</td>
                            <td>NOM CLIENT</td>
                            <td colspan="2">PRENOM CLIENT</td>
                        </tr>
                        <tr class="row0">
                            <td colspan="2">{{ client.clientNumber }}</td>
                            <td>{{ client.clientName }}</td>
                            <td colspan="2">{{ client.clientFirstName }}</td>
                        </tr>
                        <tr class="titleTable">
                            <td>SEXE</td>
                            <td>CIVILITE</td>
                            <td>DATE DE NAISSANCE</td>
                            <td>AGE</td>
                            <td>AGE FFG</td>
                        </tr>
                        <tr class="row0">
                            <td>{{ client.clientGender }}</td>
                            <td>{{ client.clientCivility }}</td>
                            <td>{{ client.clientBirthDate|date('d / m / Y') }}</td>
                            <td>{{ client.age }}</td>
                            <td>{{ client.clientAgeFfg }}</td>
                        </tr>
                        <tr class="titleTable">
                            <td colspan="2">ADRESSE</td>
                            <td>CODE POSTAL</td>
                            <td colspan="2">VILLE</td>
                        </tr>
                        <tr class="row0">
                            <td colspan="2">{{ client.clientAddress }}</td>
                            <td>{{ client.clientZipCode }}</td>
                            <td colspan="2">{{ client.clientCity }}</td>
                        </tr>
                        <tr class="titleTable">
                            <td colspan="2">TEL (DOMICILE)</td>
                            <td>TEL (MOBILE)</td>
                            <td colspan="2">TEL (PROFESSIONNEL)</td>
                        </tr>
                        <tr class="row0">
                            <td colspan="2">{{ client.homePhone }}</td>
                            <td>{{ client.cellPhone }}</td>
                            <td colspan="2">{{ client.officePhone }}</td>
                        </tr>
                        <tr class="titleTable">
                            <td colspan="2"></td>
                            <td>E-MAIL</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr class="row0">
                            <td colspan="2"></td>
                            <td>{{ client.mailAddress }}</td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
                    {{ client.pictureFile }}
                </div>
                {% if client.pictureName %}
                    <div class="col-xs-3 col-md-3">
                        <img src="{{ asset(client.getWebPath()) }}" alt="photo identité" style="width:50%;height:50%"/>
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="row">
                <div class="col-xs-offset-5 col-md-offset-5 col-xs-2 col-md-2">
                    <h1><a href="#" id="toggleCard">Cartes</a></h1>
                </div>
            </div>
            <div class="row">
                {#{% if app.user is not null and is_granted('ROLE_ADMIN') %}#}
                    <div id="is_form" class="display"></div>
                {#{% else %}#}
                    {#<div id="is_admin" class="user"></div>#}
                {#{% endif %}#}
                <div class="col-xs-offset-2 col-md-offset-2">
                    <div class="toggle well" style="display: none">
                        <ul class="card list-inline" {#data-prototype="{{ form_widget(form.card.vars.prototype)|e }}"#}>
                            {% for card in client.card %}
                                <li style="list-style-type: none">
                                    {#{{ form_widget(card) }}#}
                                    <a href="{{ path('displayCard',{'id':card.cardId}) }}"> {{ card.cardNumber }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if client.bankAccount is not null %}
            {% if client.bankAccount.rum is not null%}
                {% set rum = client.bankAccount.rum %}
            {% else %}
                {% set rum = "" %}
            {% endif %}

            {% if client.bankAccount.creditorCode is not null%}
                {% set creditorCode = client.bankAccount.creditorCode %}
            {% else %}
                {% set creditorCode = ""%}
            {% endif %}

            {% if client.bankAccount.debtorName is not null%}
                {% set debtorName = client.bankAccount.debtorName %}
            {% else %}
                {% set debtorName = "" %}
            {% endif %}

            {% if  client.bankAccount.debtorAddress is not null%}
                {% set debtorAddress = client.bankAccount.debtorAddress %}
            {% else %}
                {% set debtorAddress = "" %}
            {% endif %}

            {% if client.bankAccount.debtorZipCode is not null %}
                {% set debtorZipCode = client.bankAccount.debtorZipCode %}
            {% else %}
                {% set debtorZipCode = "" %}
            {% endif %}

            {% if client.bankAccount.debtorCity is not null %}
                {% set debtorCity = client.bankAccount.debtorCity %}
            {% else %}
                {% set debtorCity = "" %}
            {% endif %}

            {% if client.bankAccount.debtorCountry is not null %}
                {% set debtorCountry = client.bankAccount.debtorCountry %}
            {% else %}
                {% set debtorCountry = "" %}
            {% endif %}

            {% if client.bankAccount.creditorName  is not null %}
                {% set creditorName = client.bankAccount.creditorName %}
            {% else %}
                {% set creditorName = "" %}
            {% endif %}

            {% if client.bankAccount.creditorAddress is not null %}
                {% set creditorAddress = client.bankAccount.creditorAddress %}
            {% else %}
                {% set creditorAddress = "" %}
            {% endif %}

            {% if client.bankAccount.creditorZipCode is not null %}
                {% set creditorZipCode = client.bankAccount.creditorZipCode %}
            {% else %}
                {% set creditorZipCode = "" %}
            {% endif %}

            {% if client.bankAccount.creditorCity is not null %}
                {% set creditorCity = client.bankAccount.creditorCity %}
            {% else %}
                {% set creditorCity = "" %}
            {% endif %}

            {% if client.bankAccount.creditorCountry is not null %}
                {% set creditorCountry = client.bankAccount.creditorCountry %}
            {% else %}
                {% set creditorCountry = "" %}
            {% endif %}

            {% if client.bankAccount.iban is not null %}
                {% set iban = client.bankAccount.iban %}
            {% else %}
                {% set iban = "" %}
            {% endif %}

            {% if client.bankAccount.bic is not null %}
                {% set bic = client.bankAccount.bic %}
            {% else %}
                {% set bic = "" %}
            {% endif %}

            {% if  client.bankAccount.placeSign is not null%}
                {% set placeSign = client.bankAccount.placeSign %}
            {% else %}
                {% set placeSign = "" %}
            {% endif %}

            {% if client.bankAccount.dateSign is not null %}
                {% set dateSign = client.bankAccount.dateSign|date('D M Y') %}
            {% else %}
                {% set dateSign = "" %}
            {% endif %}
        {% else %}
            {% set rum = "" %}
            {% set creditorCode = "" %}
            {% set debtorName = "" %}
            {% set debtorAddress =  "" %}
            {% set debtorZipCode = "" %}
            {% set debtorCity = "" %}
            {% set debtorCountry = "" %}
            {% set creditorName = "" %}
            {% set creditorAddress = "" %}
            {% set creditorZipCode = "" %}
            {% set creditorCity = "" %}
            {% set creditorCountry = "" %}
            {% set iban = "" %}
            {% set bic = "" %}
            {% set placeSign = "" %}
            {% set dateSign = "" %}
        {% endif %}
        <div class="tab-pane" id="bank">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    RUM {{ rum }}
                </div>
                <div class="col-xs-6 col-md-6">
                    CODE CREDITEUR {{ creditorCode }}
                </div>
            </div>
            <div class="container well col-xs-6 col-md-6">
                <div class="row">
                    <h1>DEBITEUR</h1>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        NOM
                    </div>
                    <div class="col-xs-8 col-md-8">
                        {{ debtorName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        ADRESSE
                    </div>
                    <div class="col-xs-8 col-md-8">
                        {{ debtorAddress }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        CODE POSTAL {{ debtorZipCode }}
                    </div>
                    <div class="col-xs-offset-1 col-md-offset-1 col-xs-4 col-md-4">
                        VILLE {{ debtorCity }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        PAYS {{ debtorCountry }}
                    </div>
                </div>
            </div>
            <div class="container well col-xs-6 col-md-6">
                <div class="row">
                    <h1>CREDITEUR</h1>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        NOM
                    </div>
                    <div class="col-xs-8 col-md-8">
                        {{ creditorName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        ADRESSE
                    </div>
                    <div class="col-xs-8 col-md-8">
                        {{ creditorAddress }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        CODE POSTAL {{ creditorZipCode }}

                    </div>
                    <div class="col-xs-offset-1 col-md-offset-1 col-xs-4 col-md-4">
                        VILLE {{ creditorCity }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        PAYS {{ creditorCountry }}
                    </div>
                </div>
            </div>
            <div class="container well col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-1 col-md-1">
                        IBAN
                    </div>
                    <div class="col-xs-4 col-md-4">
                        {{ iban }}
                    </div>
                    <div class="col-xs-offset-1 col-md-offset-1 col-xs-1 col-md-1">
                        BIC
                    </div>
                    <div class="col-xs-4 col-md-4">
                        {{ bic }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-md-1">
                        LIEU DE SIGNATURE
                    </div>
                    <div class="col-xs-4 col-md-4">
                        {{ placeSign }}
                    </div>
                    <div class="col-xs-offset-1 col-md-offset-1 col-xs-1 col-md-1">
                        DATE DE SIGNATURE
                    </div>
                    <div class="col-xs-4 col-md-4">
                        {{ dateSign }}
                    </div>
                </div>
            </div>
        {#{% endif %}#}
            {#{{ form_widget(form.bankAccount) }}#}
        </div>
        <div class="tab-pane" id="club">
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-8 col-md-8">
                    <table class="table table-responsive">
                        <tr class="titleTable">
                            <td>NUMERO CLUB</td>
                            <td>NOM CLUB</td>
                        </tr>
                        <tr class="row0">
                            <td>{{ client.club.clubNumber }}</td>
                            <td>{{ client.club.clubName }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>

        </div>
        </div>
    </div>

{% endblock body %}