{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    {#<div class="count">#}
        {#{{ pagination.getTotalItemCount }}#}
    {#</div>#}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > Clients
            </div>
        </div>
    </div>
    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="col-xs-offset-3 col-xs-6" >
                <form action="{{ path('displayClient',{'page' : 1}) }}" method="post">
                    <div class="row">
                        <input type="text" name="txtSearch" style="width: 100%" placeholder="entrer le nom ou prénom recherché"/>
                    </div>
                    <div class="row">
                        <br>
                        <center><button type="submit" name="search" value="search" class="btn btn-primary">Rechercher</button></center>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% if pagination %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <form action="{{ path('deleteClient') }}" method="post">
                        <table class="table table-responsive">
                            {#<thead>#}
                            <tr class="titleTable">
                                <td></td>
                                <td>NOM</td>
                                <td>PRENOM</td>
                                <td></td>
                                <td></td>
                            </tr>
                            {#</thead>#}
                            {% set count = 0 %}
                            {% for client in pagination.items %}
                                <tbody>
                                <tr class="rowLink{{ count }}">
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<input class="check" type="checkbox" name="multiDelete[]" value="{{ client.clientId }}">{% endif %}</td>
                                    <td><a href="{{ path('displayDetailClient',{'id':client.clientId}) }}">{{ client.clientName }}</a> </td>
                                    <td><a href="{{ path('displayDetailClient',{'id':client.clientId}) }}">{{ client.clientFirstName }}</a></td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<a href="{{ path('editClient',{'id':client.clientId}) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a>{% endif %}</td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<a href="{{ path('deleteClient',{'id':client.clientId,'token':client.token}) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a>{% endif %}</td>
                                </tr>
                                </tbody>
                                {% if count == 1 %}
                                    {% set count = 0 %}
                                {% else %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                            <button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>
                            <a href="{{ path('addClient') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter client</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        Aucun client à afficher
    {% endif %}
    <div class="row">
        <div class="container">
            <div class="col-xs-offset-3 col-xs-6">
                <center>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </center>
            </div>
        </div>
    </div>


{% endblock body %}