{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > Cartes
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="col-xs-offset-4 col-xs-6">
                <form action="{{ path('displayCard',{'page' : 1}) }}" method="post">
                    <input type="text" name="txtSearch" placeholder="entrer le numéro de carte"/>
                    <button type="submit" name="search" value="search">Rechercher</button>
                </form>
            </div>
        </div>
    </div>

    </div>
    {% if pagination %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <form action="{{ path('deleteCard') }}" method="post">
                        <table class="table table-responsive">
                            {#<thead>#}
                            <tr class="titleTable">
                                <th></th>
                                <th>numéro de carte</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            {#</thead>#}
                            {% set count = 0 %}
                            {% for card in pagination.items %}
                                <tbody>
                                <tr class="rowLink{{ count }}">
                                    <td><input type="checkbox" name="multiDelete[]" value="{{ card.cardId }}"></td>
                                    <td><a href="{{ path('displayDetailCard',{'id' : card.cardId}) }}"> {{ card.cardNumber }} </a></td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('editCard',{'id' : card.cardId}) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a>{% endif %}</td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('deleteCard',{'id' : card.cardId, 'token' : card.token }) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a>{% endif %}</td>
                                    {% if card.isActive == 1 %}<td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('toggleActiveCard',{'id' : card.cardId, 'token' : card.token,'active' : 0 }) }}" class="glyphicon glyphicon-lock" style="color:red" title="Ajouter la carte à la liste d'opposition"></a>{% endif %}</td>{% else %}<td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('toggleActiveCard',{'id' : card.cardId, 'token' : card.token, 'active' : 1 }) }}" class="glyphicon glyphicon-ok" style="color:limegreen" title="Retirer la carte de la liste d'opposition"></a>{% endif %}</td>{% endif %}
                                </tr>
                                </tbody>
                                {% if count == 1 %}
                                    {% set count = 0 %}
                                {% else %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                        {% if app.user is not null and is_granted('ROLE_ADMIN')%}
                            <button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>
                            <a href="{{ path('addCard') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter carte</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    {% endif %}



    <div class="row">
        <div class="container">
            <div class="col-xs-offset-3 col-xs-6">
                <center>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </center>
            </div>
        </div>
    </div>

{% endblock body %}