{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('displayClient') }}">Clients</a> > Mofdifier
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <center><h1 class="title">Modifier les informations de {{ form.vars.value.clientName }} {{ form.vars.value.clientFirstName }}</h1></center><br>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <ul class="nav nav-pills" role="tablist" id="clientTab">
                <li class="active"><a href="#ec" role="tab" data-toggle="tab" style="border:solid grey 1px">Etat Civil</a></li>
                <li><a href="#bank" role="tab" data-toggle="tab" style="border:solid grey 1px">Bancaire</a></li>
                <li><a href="#club" role="tab" data-toggle="tab" style="border:solid grey 1px">Club</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container well well-lg">
            <div id="is_form" class="form">
                <form action="{{ path('editClient',{'id':id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="{{ path('getCity') }}">
                    {% include 'CibCustomerBundle:Form:formClient.html.twig' %}
                </form>
            </div>
        </div>
    </div>

{% endblock body %}