{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('listActivity') }}">Activité</a> > <a href="{{ path('displayTpe') }}">TPE</a> > Ajouter
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <center><h1 class="title">Ajouter un TPE</h1></center><br>
        </div>
    </div>
    <form action="{{ path('addTpe') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {% include 'CibActivityBundle:Form:formTpe.html.twig' %}
    </form>
{% endblock body %}