{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('listActivity') }}">Activité</a> > Magasins
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="col-xs-offset-3 col-xs-6">
                <form action="{{ path('displayStore',{'page' : 1}) }}" method="post">
                    <div class="row">
                        <input type="text" name="txtSearch" placeholder="entrer le nom du magasin" style="width: 100%"/>
                    </div>
                    <br>
                    <div class="row">
                        <center><button type="submit" name="search" value="search" class="btn btn-primary">Rechercher</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if pagination %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <form action="{{ path('deleteStore') }}" method="post">
                        <table class="table table-responsive">
                            <thead>
                            <tr class="titleTable">
                                <th></th>
                                <th>MAGASIN</th>
                                {#<th>Numéro</th>#}
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            {% set count = 0 %}
                            {% for store in pagination.items %}
                                <tbody>
                                <tr class="rowLink{{ count }}">
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<input type="checkbox" name="multiDelete[]" value="{{ store.storeId }}">{% endif %}</td>
                                    <td><a href="{{ path('displayDetailStore',{'id' : store.storeId , 'token' : store.token }) }}">{{ store.storeName }}</a></td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('editStore',{'id' : store.storeId }) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a>{% endif %}</td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN')%}<a href="{{ path('deleteStore',{'id' : store.storeId , 'token' : store.token }) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a>{% endif %}</td>
                                </tr>
                                </tbody>
                                {% if count == 1 %}
                                    {% set count = 0 %}
                                {% else %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                        {% if app.user is not null and is_granted('ROLE_ADMIN')%}
                            <button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>
                            <a href="{{ path('addStore') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter magasin</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <center>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </center>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body %}