{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Acceuil</a> > <a href="{{ path('listActivity') }}">Activité</a> > Magasins
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="col-xs-offset-4 col-xs-6">
                <form action="{{ path('displayStore',{'page' : 1}) }}" method="post">
                    <input type="text" name="txtSearch" placeholder="entrer le nom du magasin" />
                    <button type="submit" name="search" value="search">Rechercher</button>
                </form>
            </div>
        </div>
    </div>

    {% if pagination %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <form action="{{ path('deleteStore') }}" method="post">
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th></th>
                                <th>magasin</th>
                                {#<th>Numéro</th>#}
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            {% for store in pagination.items %}
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" name="multiDelete[]" value="{{ store.storeId }}"></td>
                                    <td>{{ store.storeName }}</td>
                                    {#<td>{{ signboard.signboardNumber }}</td>#}
                                    <td><a href="{{ path('editStore',{'id' : store.storeId }) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a></td>
                                    <td><a href="{{ path('deleteStore',{'id' : store.storeId , 'token' : store.token }) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a></td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>
                        <a href="{{ path('addStore') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter magasin</a>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

    {#{% for store in stores %}#}
        {#{{ store.storeName }}#}
        {#<a href="{{ path('editStore',{'id':store.storeId}) }}">modifier</a>#}
        {#<a href="{{ path('deleteStore',{'id':store.storeId,'token':store.token}) }}">supprimer</a>#}

    {#{% else %}#}
        {#Aucun magasin à afficher#}
    {#{% endfor %}#}

    {#<a href="{{ path('addStore') }}">Ajouter magasin</a>#}
{% endblock body %}