{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('listActivity') }}">Activité</a> > <a href="{{ path('displayStore') }}"> Magasins</a> > {{ store.storeName }}
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row">
        <div class="container">
            <div class="col-xs-offset-3 col-md-offset-3 col-md-5 col-xs-5">
                <table class="table table-responsive">
                    <tr class="titleTableLarge">
                        <td colspan="2">DETAILS DU MAGASIN</td>
                    </tr>
                    <tr class="titleTable">
                        <td>Nom</td>
                        <td>{{ store.storeName }}</td>
                    </tr>
                    <tr class="row0">
                        <td>Adresse</td>
                        <td>{{ store.storeAddress }}</td>
                    </tr>
                    <tr class="row1">
                        <td>Code Postal</td>
                        <td>{{ store.storeZipCode }}</td>
                    </tr>
                    <tr class="row0">
                        <td>Ville</td>
                        <td>{{ store.storeCity }}</td>
                    </tr>
                    <tr class="row1">
                        <td>Tel :</td>
                        <td>{{ store.storePhone }}</td>
                    </tr>
                    <tr class="row0">
                        <td>Enseigne</td>
                        {% if store.signboard is not null %}
                            <td>{{ store.signboard.signboardName }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr class="row1">
                        <td>Prix semaine</td>
                        <td>{{ store.weekPrice }}</td>
                    </tr>
                    <tr class="row0">
                        <td>Prix week-end</td>
                        <td>{{ store.weekEndPrice }}</td>
                    </tr>
                </table>

                <table class="table">
                    <tr class="titleTable">
                        <td colspan="2">TPE</td>
                    </tr>
                    {% set count = 0 %}
                    {% for tpe in store.tpe %}
                        <tr class="rowLink{{ count }}">
                            <td>Numéro</td>
                            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                                <td><a href="{{ path('editTpe',{'id':tpe.tpeId}) }}">{{ tpe.tpeNumber }}</a></td>
                            {% else %}
                                <td>{{ tpe.tpeNumber }}</td>
                            {% endif %}
                        </tr>
                        {% if count == 1 %}
                            {% set count = 0 %}
                        {% else %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="2">Aucun TPE associé</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock body %}