{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('listActivity') }}">Activité</a> > Enseignes
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="col-xs-offset-3 col-xs-6">
                <form action="{{ path('displaySignboard',{'page' : 1}) }}" method="post">
                    <div class="row">
                        <input type="text" name="txtSearch" placeholder="entrer le numéro ou nom de l'enseigne" style="width: 100%"/>
                    </div>
                    <br>
                    <div class="row">
                        <center><button type="submit" name="search" value="search" class="btn btn-primary">Rechercher</button></center>
                    </div>

                </form>
            </div>
        </div>
    </div>

    {% if pagination %}
        <div class="row" style="margin-top: 5%">
            <div class="container">
                <div class="col-xs-offset-3 col-xs-6">
                    <form action="{{ path('deleteSignboard') }}" method="post">
                        <table class="table table-responsive">
                            <thead>
                            <tr class="titleTable">
                                <th></th>
                                <th>ENSEIGNE</th>
                                <th>NUMERO</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            {% set count = 0 %}
                            {% for signboard in pagination.items %}
                                <tbody>
                                <tr class="row{{ count }}">
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<input type="checkbox" name="multiDelete[]" value="{{ signboard.signboardId }}">{% endif %}</td>
                                    <td>{{ signboard.signboardName }}</td>
                                    <td>{{ signboard.signboardNumber }}</td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<a href="{{ path('editSignboard',{'id' : signboard.signboardId }) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a>{% endif %}</td>
                                    <td>{% if app.user is not null and is_granted('ROLE_ADMIN') %}<a href="{{ path('deleteSignboard',{'id' : signboard.signboardId , 'token' : signboard.token }) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a>{% endif %}</td>
                                </tr>
                                </tbody>
                                {% if count == 1 %}
                                    {% set count = 0 %}
                                {% else %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                        <button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>
                        <a href="{{ path('addSignboard') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter enseigne</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

    {#{% for signboard in signboards %}#}
        {#{{ signboard.signboardName }}#}
        {#<a href="{{ path('editSignboard',{'id':signboard.signboardId}) }}">modifier</a>#}
        {#<a href="{{ path('deleteSignboard',{'id':signboard.signboardId,'token':signboard.token}) }}">supprimer</a>#}

    {#{% else %}#}
        {#Aucune enseigne à afficher#}
    {#{% endfor %}#}

    {#<a href="{{ path('addSignboard') }}" class="">Ajouter enseigne</a>#}
{% endblock body %}