{#<div>#}
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
        {#<a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |#}
        {#<a href="{{ path('fos_user_security_logout') }}">#}
            {#{{ 'layout.logout'|trans([], 'FOSUserBundle') }}#}
        {#</a>#}
    {#{% else %}#}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a> |#}
        {#<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>#}
    {#{% endif %}#}
{#</div>#}

{#{% for key, flash in app.session.getFlashes() %}#}
    {#<div class="{{ flash }}">#}
        {#{{ key|trans([], 'FOSUserBundle') }}#}
    {#</div>#}
{#{% endfor %}#}
    <div class="col-md-2">
        <a href="{{ path('index') }}"><img src="{{ asset('bundles/cibcore/pictures/cameleon.jpg') }}" alt="CashPass"></a>
    </div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="col-md-offset-1 col-md-2" style="padding-top: 5%">
        {{ knp_menu_render('parameters',{'template':'CibCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>
    <div class="col-md-2" style="padding-top: 5%">
        {{ knp_menu_render('customer',{'template':'CibCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>
    <div class="col-md-2" style="padding-top: 5%">
        {{ knp_menu_render('activity',{'template':'CibCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>
    <div style="padding-top: 5%">
        {{ knp_menu_render('loggedin',{'template':'CibCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>

{% else %}
    <div style="padding-top: 5%">
        {{ knp_menu_render('login',{'template':'CibCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>

{% endif %}