{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Acceuil</a> > Resultats
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}

    <div class="row" style="margin-top: 5%">
        <div class="container">
            <div class="">
                <form action="{{ path('displayResults') }}" method="post" novalidate="novalidate">
                    {% include 'CibDataBundle:Form:formResults.html.twig' %}
                </form>

            </div>
        </div>
    </div>

    {% if pagination %}
        <div id="divResult" class="{{ asset('bundles/cibcore/pictures/ajax-loader.gif') }}">
            {#<img src="" id="img-loader">#}
        </div>
        {#<div class="row" style="margin-top: 5%">#}
            {#<div class="container">#}
                {#<div class="col-xs-offset-3 col-xs-6">#}
                    {#<form action="{{ path('deleteSignboard') }}" method="post">#}
                        {#<table class="table table-bordered table-responsive">#}
                            {#<thead>#}
                            {#<tr>#}
                                {#<th></th>#}
                                {#<th>Enseigne</th>#}
                                {#<th>Numéro</th>#}
                                {#<th></th>#}
                                {#<th></th>#}
                            {#</tr>#}
                            {#</thead>#}

                            {#{% for signboard in pagination.items %}#}
                                {#<tbody>#}
                                {#<tr>#}
                                    {#<td><input type="checkbox" name="multiDelete[]" value="{{ signboard.signboardId }}"></td>#}
                                    {#<td>{{ signboard.signboardName }}</td>#}
                                    {#<td>{{ signboard.signboardNumber }}</td>#}
                                    {#<td><a href="{{ path('editSignboard',{'id' : signboard.signboardId }) }}" class="glyphicon glyphicon-edit" style="color:darkorange"></a></td>#}
                                    {#<td><a href="{{ path('deleteSignboard',{'id' : signboard.signboardId , 'token' : signboard.token }) }}" class="glyphicon glyphicon-remove" style="color:orangered"></a></td>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#{% endfor %}#}
                        {#</table>#}
                        {#<button type="submit" name="delete" value="delete" class="btn btn-link glyphicon glyphicon-remove">supprimer<span style="font-style: italic"> (la séléction)</span></button>#}
                        {#<a href="{{ path('addSignboard') }}" class="btn btn-link glyphicon glyphicon-floppy-save">Ajouter enseigne</a>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {% endif %}

{#<script>#}
    {#$(document).ready(function() {#}
        {#$('#cib_bundle_databundle_results_dateStart').datepicker();#}
        {#$('#cib_bundle_databundle_results_dateStop').datepicker();#}
    {#});#}

    {#$('#cib_bundle_databundle_results_month').on('change',function(){#}
        {#getMonth();#}
    {#});#}

    {#$('#cib_bundle_databundle_results_card').keyup(function(){#}
        {#alert('alfred');#}
        {#if(this.value.length >= 4)#}
        {#{#}
            {#alert(this.value.length);#}
            {#autoLoadCard(this.value);#}
        {#}#}

    {#});#}

    {#function getMonth(){#}
        {#$.post('{{ path('displayResults') }}',#}
                {#{data1: 'mydata1', data2:'mydata2'},#}
                {#function(response){#}
                    {#if(response.code == 100 && response.success){//dummy check#}
                        {#//do something#}
                        {#alert('toto!!!');#}
                    {#}#}

                {#}, "json");#}
    {#}#}

    {#function autoLoadCard(val){#}
        {#$.ajax({#}
            {#url: {{ path('displayResults') }},#}
            {#type: 'post',#}
            {#data: val,#}
            {#success: function(data) {#}
                {#alert(data.);#}
                {#$('#expediteur_liste').replaceWith(data.expediteurHTML);#}
            {#},#}
            {#error: function() {#}
                {#alert('erreur ajax');#}
            {#}#}
        {#});#}
    {#}#}
{#</script>#}

{% endblock body %}

