<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CashPass{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/cibcore/bootstrap/css/bootstrap.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/cibcore/bootstrap/css/bootstrap-theme.css') }}" type="text/css" media="all"/>
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>



    {% include 'CibCoreBundle:Menu:menu.html.twig' %}
<div class="container" >
{% block body %}

{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/cibcore/jquery/jquery.js') }}"></script>
    <script src="{{ asset('bundles/cibcore/bootstrap/js/bootstrap.js') }}"></script>
    {% if client is defined%}
        <script src="{{ asset('bundles/cibcustomer/formClient.js') }}"></script>
    {% endif %}
{% endblock %}
</div>
<div class="row">
    <div class="container">
        <div class="col-md-offset-1 col-md-3">
            <ul class="list-unstyled" >
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
            </ul>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <ul class="list-unstyled">
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
            </ul>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <ul class="list-unstyled">
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
                <li>lien</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>