{% form_theme form 'form_table_layout.html.twig' %}
{#<br>#}
<div class="row">
    <div class="container">
        <table class="table table-responsive">
            <tr>
                <td>{{ form_label(form.date) }}</td>
                <td>{{ form_label(form.store) }}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.date) }}</td>
                <td>{{ form_widget(form.store) }}</td>
            </tr>
        </table>
        {{ form_widget(form) }}
    </div>
</div>