{% form_theme form 'form_table_layout.html.twig' %}
<br>
{% include 'CibCoreBundle:Core:displayFormErrors.html.twig' %}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                    <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                      <center>  {{ form_label(form.tpeNumber) }} </center>
                    </div>
                    <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                        <center>   {{ form_widget(form.tpeNumber) }}</center>
                    </div>
                    <br>
                    <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                        <center>  {{ form_label(form.store) }} </center>
                    </div>
                <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                    <center> {{ form_widget(form.store) }} </center>
                    </div>
                    <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                        <center>   {{ form_label(form.logo.logoTypeTPE) }} </center>
                        </div>
                <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">

                    <center>{{ form_widget(form.logo.logoTypeTPE) }} </center>
                    </div>
                    <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">
                     <center>   {{ form_label(form.logo.logoGoal) }} </center>
                        </div>
                <div class="col-md-offset-3 col-md-4" style="font-size: large;text-transform: uppercase">

                    <center>{{ form_widget(form.logo.logoGoal) }} </center>
                    </div>

            </div>
        </div>
        <br>
        {#<div class="row">
            <a class="btn btn-lg col-md-offset-4 col-md-4" data-toggle="modal" data-target="#modalConnexion" style="/*border:solid gold 1px;*/ background-color: #606060/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">CONNEXION</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="connexion" aria-hidden="true">
                <div class="modal-dialog" style="width: 60%">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <center><h1 class="modal-title " id="myModalLabel">CONNEXION</h1></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">INFOS FTP</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpHost) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpHost) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.tpeParameters.ftpPort) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpPort) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpLogin) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpLogin) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.tpeParameters.ftpPassword) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpPassword) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpMode) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpMode) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.tpeParameters.typeConnexion) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.typeConnexion) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-offset-1 col-xs-offset-1 col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                           <td colspan="2">INFOS GPRS</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.apnGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.apnGprs) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.tpeParameters.loginGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.loginGprs) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.passwordGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.passwordGprs) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            &#123;&#35;<button type="button" class="btn btn-primary">Save changes</button>&#35;&#125;
                        </div>
                    </div>
                </div>
            </div>


            </div>

        </div>#}

        <div class="row" style="margin-top: 5%">
            <a class="btn btn-lg col-md-offset-4 col-md-4" data-toggle="modal" data-target="#modalLogos" style="/*border:solid gold 1px;*/ background-color: #305aff/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: blanchedalmond">LOGO</h1>
            </a>
            <div class="modal fade" id="modalLogos" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog" style="width: 80%">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <center><h1 class="modal-title" id="myModalLabel">LOGO</h1></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Nom du Logo</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.logoName) }}</td>
                                            <td>{{ form_widget(form.logo.logoName) }}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Entete de Ticket</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.intitule1) }}</td>
                                            <td>{{ form_widget(form.logo.intitule1) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.intitule2) }}</td>
                                            <td>{{ form_widget(form.logo.intitule2) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.intitule3) }}</td>
                                            <td>{{ form_widget(form.logo.intitule3) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.intitule4) }}</td>
                                            <td>{{ form_widget(form.logo.intitule4) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.intitule5) }}</td>
                                            <td>{{ form_widget(form.logo.intitule5) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-offset-1 col-xs-offset-1 col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Logo</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.logoTopTicket) }}</td>
                                            <td>{{ form_widget(form.logo.logoTopTicket) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.logoWallpaper) }}</td>
                                            <td>{{ form_widget(form.logo.logoWallpaper) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{ form_widget(form._token) }}


        <div class="row">
            <br>
            <center><button type="submit" value="valider" name="valider" class="btn btn-primary btn-lg" style="width: 15%; margin-bottom: 10px">Valider</button></center>
        </div>

</div>
