{% form_theme form 'form_table_layout.html.twig' %}
<br>
{% include 'CibCoreBundle:Core:displayFormErrors.html.twig' %}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <div class="row">
                    <div class="col-md-3 col-xs-3" style="font-size: large;text-transform: uppercase">
                        {{ form_label(form.tpeNumber) }}
                        {{ form_widget(form.tpeNumber) }}
                    </div>
                    <div class="col-xs-offset-3 col-md-offset-3 col-md-2 col-xs-2" style="font-size: large;text-transform: uppercase">
                        {{ form_label(form.store) }}
                        {{ form_widget(form.store) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-3" style="font-size: large;text-transform: uppercase">
                        {{ form_label(form.logo.logoTypeTPE) }}
                        {{ form_widget(form.logo.logoTypeTPE) }}
                    </div>
                    <div class="col-xs-offset-3 col-md-offset-3 col-md-2 col-xs-2" style="font-size: large;text-transform: uppercase">
                        {{ form_label(form.logo.logoGoal) }}
                        {{ form_widget(form.logo.logoGoal) }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalConnexion" style="/*border:solid gold 1px;*/ background-color: #606060/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">CONNEXION</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="connexion" aria-hidden="true">
                <div class="modal-dialog" style="width: 60%">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <center><h1 class="modal-title " id="myModalLabel">CONNEXION</h1></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">INFOS FTP</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpHost) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpHost) }}</td>
                                        </tr>
                                        <tr class="row1">
                                            <td>{{ form_label(form.tpeParameters.ftpPort) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpPort) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpLogin) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpLogin) }}</td>
                                        </tr>
                                        <tr class="row1">
                                            <td>{{ form_label(form.tpeParameters.ftpPassword) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpPassword) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.ftpMode) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.ftpMode) }}</td>
                                        </tr>
                                        <tr class="row1">
                                            <td>{{ form_label(form.tpeParameters.typeConnexion) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.typeConnexion) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-offset-1 col-xs-offset-1 col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                           <td colspan="2">INFOS GPRS</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.apnGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.apnGprs) }}</td>
                                        </tr>
                                        <tr class="row1">
                                            <td>{{ form_label(form.tpeParameters.loginGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.loginGprs) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.tpeParameters.passwordGprs) }}</td>
                                            <td>{{ form_widget(form.tpeParameters.passwordGprs) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {#<button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>


            </div>

        </div>

        <div class="row" style="margin-top: 5%">


            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalSoap" style="/*border:solid gold 1px;*/ background-color: #606060/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">SOAP</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalSoap" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h1 class="modal-title" id="myModalLabel">SOAP</h1>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.tpeParameters.urlSoap) }}
                                            {{ form_widget(form.tpeParameters.urlSoap) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(form.tpeParameters.portSoap) }}
                                            {{ form_widget(form.tpeParameters.portSoap) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalLibelles" style="/*border:solid gold 1px;*/ background-color: #606060/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">LIBELLES</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalLibelles" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog" style="width: 80%">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <center><h1 class="modal-title" id="myModalLabel">LIBELLES</h1></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1 col-xs-offset-1 col-md-10 col-xs-10">
                                    <div class="row well">
                                        <div class="row">
                                            <h2>EN-TETE</h2>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header1) }}
                                            {{ form_widget(form.tpeParameters.header1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header2) }}
                                            {{ form_widget(form.tpeParameters.header2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header3) }}
                                            {{ form_widget(form.tpeParameters.header3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header4) }}
                                            {{ form_widget(form.tpeParameters.header4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header5) }}
                                            {{ form_widget(form.tpeParameters.header5) }}
                                        </div>
                                    </div>
                                    <div class="row well">
                                        <div class="row">
                                            <h2>PIED</h2>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer1) }}
                                            {{ form_widget(form.tpeParameters.footer1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer2) }}
                                            {{ form_widget(form.tpeParameters.footer2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer3) }}
                                            {{ form_widget(form.tpeParameters.footer3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer4) }}
                                            {{ form_widget(form.tpeParameters.footer4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer5) }}
                                            {{ form_widget(form.tpeParameters.footer5) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalLogos" style="/*border:solid gold 1px;*/ background-color: #606060/*;padding: 10%*/">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">LOGO</h1>
            </a>
            <div class="modal fade" id="modalLogos" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog" style="width: 80%">
                    <div class="modal-content">
                        <div class="modal-header titleTableLarge">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <center><h1 class="modal-title" id="myModalLabel">LOGO</h1></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Nom du Logo</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.logoName) }}</td>
                                            <td>{{ form_widget(form.logo.logoName) }}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Entete de Ticket</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.societyName) }}</td>
                                            <td>{{ form_widget(form.logo.societyName) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.societyAddress) }}</td>
                                            <td>{{ form_widget(form.logo.societyAddress) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.societyTel) }}</td>
                                            <td>{{ form_widget(form.logo.societyTel) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.societyWebAddr) }}</td>
                                            <td>{{ form_widget(form.logo.societyWebAddr) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.societyCp) }}</td>
                                            <td>{{ form_widget(form.logo.societyCp) }}</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.societyCity) }}</td>
                                            <td>{{ form_widget(form.logo.societyCity) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-offset-1 col-xs-offset-1 col-md-5 col-xs-5">
                                    <table class="table table-responsive">
                                        <tr class="titleTable">
                                            <td colspan="2">Logo</td>
                                        </tr>
                                        <tr class="row2">
                                            <td>{{ form_label(form.logo.logoTopTicket) }}</td>
                                            <td>{{ form_widget(form.logo.logoTopTicket) }}</td>
                                        </tr>
                                        <tr class="row0">
                                            <td>{{ form_label(form.logo.logoWallpaper) }}</td>
                                            <td>{{ form_widget(form.logo.logoWallpaper) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_widget(form) }}

        <div class="row">
            <br>
            <center><button type="submit" value="valider" name="valider" class="btn btn-primary btn-lg" style="width: 15%">Valider</button></center>
        </div>

</div>
