{% form_theme form 'form_table_layout.html.twig' %}
<br>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-1">
                <div class="row">
                    {{ form_label(form.tpeNumber) }}
                    {{ form_errors(form.tpeNumber) }}
                    {{ form_widget(form.tpeNumber) }}
                </div>
                <div class="row">
                    {{ form_label(form.store) }}
                    {{ form_errors(form.store) }}
                    {{ form_widget(form.store) }}
                </div>
            </div>
        </div>

        <div class="row">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalConnexion" style="border:solid gold 1px; background-color: #606060;padding: 10%">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">CONNEXION</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="connexion" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                            <h4 class="modal-title" id="myModalLabel">CONNEXION</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.ftpHost) }}
                                            {{ form_errors(form.tpeParameters.ftpHost) }}
                                            {{ form_widget(form.tpeParameters.ftpHost) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.apnGprs) }}
                                            {{ form_errors(form.tpeParameters.apnGprs) }}
                                            {{ form_widget(form.tpeParameters.apnGprs) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.ftpPort) }}
                                            {{ form_errors(form.tpeParameters.ftpPort) }}
                                            {{ form_widget(form.tpeParameters.ftpPort) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.loginGprs) }}
                                            {{ form_errors(form.tpeParameters.loginGprs) }}
                                            {{ form_widget(form.tpeParameters.loginGprs) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.ftpLogin) }}
                                            {{ form_errors(form.tpeParameters.ftpLogin) }}
                                            {{ form_widget(form.tpeParameters.ftpLogin) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.tpeParameters.passwordGprs) }}
                                            {{ form_errors(form.tpeParameters.passwordGprs) }}
                                            {{ form_widget(form.tpeParameters.passwordGprs) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ form_label(form.tpeParameters.ftpPassword) }}
                                        {{ form_errors(form.tpeParameters.ftpPassword) }}
                                        {{ form_widget(form.tpeParameters.ftpPassword) }}
                                    </div>
                                    <div class="row">
                                        {{ form_label(form.tpeParameters.ftpMode) }}
                                        {{ form_errors(form.tpeParameters.ftpMode) }}
                                        {{ form_widget(form.tpeParameters.ftpMode) }}
                                    </div>
                                    <div class="row">
                                        {{ form_label(form.tpeParameters.typeConnexion) }}
                                        {{ form_errors(form.tpeParameters.typeConnexion) }}
                                        {{ form_widget(form.tpeParameters.typeConnexion) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {#<button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalPme" style="border:solid gold 1px; background-color: #ffcc00;padding: 10%">
                <h1 style="text-decoration: none;font-family: 'Lato';color: #606060">PME</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalPme" tabindex="-1" role="dialog" aria-labelledby="pme" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">PME</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme1) }}
                                            {{ form_errors(form.tpeParameters.isPme1) }}
                                            {{ form_widget(form.tpeParameters.isPme1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme2) }}
                                            {{ form_errors(form.tpeParameters.isPme2) }}
                                            {{ form_widget(form.tpeParameters.isPme2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme3) }}
                                            {{ form_errors(form.tpeParameters.isPme3) }}
                                            {{ form_widget(form.tpeParameters.isPme3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme4) }}
                                            {{ form_errors(form.tpeParameters.isPme4) }}
                                            {{ form_widget(form.tpeParameters.isPme4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme5) }}
                                            {{ form_errors(form.tpeParameters.isPme5) }}
                                            {{ form_widget(form.tpeParameters.isPme5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme1Unit) }}
                                            {{ form_errors(form.tpeParameters.isPme1Unit) }}
                                            {{ form_widget(form.tpeParameters.isPme1Unit) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme2Unit) }}
                                            {{ form_errors(form.tpeParameters.isPme2Unit) }}
                                            {{ form_widget(form.tpeParameters.isPme2Unit) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme3Unit) }}
                                            {{ form_errors(form.tpeParameters.isPme3Unit) }}
                                            {{ form_widget(form.tpeParameters.isPme3Unit) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme4Unit) }}
                                            {{ form_errors(form.tpeParameters.isPme4Unit) }}
                                            {{ form_widget(form.tpeParameters.isPme4Unit) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPme5Unit) }}
                                            {{ form_errors(form.tpeParameters.isPme5Unit) }}
                                            {{ form_widget(form.tpeParameters.isPme5Unit) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1">
                                    {{ form_label(form.tpeParameters.minPurchase) }}
                                    {{ form_errors(form.tpeParameters.minPurchase) }}
                                    {{ form_widget(form.tpeParameters.minPurchase) }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {#<button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 5%">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalPrime" style="border:solid gold 1px; background-color: #ffcc00;padding: 10%">
                <h1 style="text-decoration: none;font-family: 'Lato';color: #606060">PRIME</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalPrime" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">PRIME</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPrime1) }}
                                            {{ form_errors(form.tpeParameters.isPrime1) }}
                                            {{ form_widget(form.tpeParameters.isPrime1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPrime2) }}
                                            {{ form_errors(form.tpeParameters.isPrime2) }}
                                            {{ form_widget(form.tpeParameters.isPrime2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPrime3) }}
                                            {{ form_errors(form.tpeParameters.isPrime3) }}
                                            {{ form_widget(form.tpeParameters.isPrime3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPrime4) }}
                                            {{ form_errors(form.tpeParameters.isPrime4) }}
                                            {{ form_widget(form.tpeParameters.isPrime4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.isPrime5) }}
                                            {{ form_errors(form.tpeParameters.isPrime5) }}
                                            {{ form_widget(form.tpeParameters.isPrime5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.typePrime1) }}
                                            {{ form_errors(form.tpeParameters.typePrime1) }}
                                            {{ form_widget(form.tpeParameters.typePrime1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.typePrime2) }}
                                            {{ form_errors(form.tpeParameters.typePrime2) }}
                                            {{ form_widget(form.tpeParameters.typePrime2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.typePrime3) }}
                                            {{ form_errors(form.tpeParameters.typePrime3) }}
                                            {{ form_widget(form.tpeParameters.typePrime3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.typePrime4) }}
                                            {{ form_errors(form.tpeParameters.typePrime4) }}
                                            {{ form_widget(form.tpeParameters.typePrime4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.typePrime5) }}
                                            {{ form_errors(form.tpeParameters.typePrime5) }}
                                            {{ form_widget(form.tpeParameters.typePrime5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.levelPrime1) }}
                                            {{ form_errors(form.tpeParameters.levelPrime1) }}
                                            {{ form_widget(form.tpeParameters.levelPrime1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.levelPrime2) }}
                                            {{ form_errors(form.tpeParameters.levelPrime2) }}
                                            {{ form_widget(form.tpeParameters.levelPrime2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.levelPrime3) }}
                                            {{ form_errors(form.tpeParameters.levelPrime3) }}
                                            {{ form_widget(form.tpeParameters.levelPrime3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.levelPrime4) }}
                                            {{ form_errors(form.tpeParameters.levelPrime4) }}
                                            {{ form_widget(form.tpeParameters.levelPrime4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.levelPrime5) }}
                                            {{ form_errors(form.tpeParameters.levelPrime5) }}
                                            {{ form_widget(form.tpeParameters.levelPrime5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.amountPrime1) }}
                                            {{ form_errors(form.tpeParameters.amountPrime1) }}
                                            {{ form_widget(form.tpeParameters.amountPrime1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.amountPrime2) }}
                                            {{ form_errors(form.tpeParameters.amountPrime2) }}
                                            {{ form_widget(form.tpeParameters.amountPrime2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.amountPrime3) }}
                                            {{ form_errors(form.tpeParameters.amountPrime3) }}
                                            {{ form_widget(form.tpeParameters.amountPrime3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.amountPrime4) }}
                                            {{ form_errors(form.tpeParameters.amountPrime4) }}
                                            {{ form_widget(form.tpeParameters.amountPrime4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.amountPrime5) }}
                                            {{ form_errors(form.tpeParameters.amountPrime5) }}
                                            {{ form_widget(form.tpeParameters.amountPrime5) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalSoap" style="border:solid gold 1px; background-color: #606060;padding: 10%">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">SOAP</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalSoap" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">SOAP</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.tpeParameters.urlSoap) }}
                                            {{ form_errors(form.tpeParameters.urlSoap) }}
                                            {{ form_widget(form.tpeParameters.urlSoap) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(form.tpeParameters.portSoap) }}
                                            {{ form_errors(form.tpeParameters.portSoap) }}
                                            {{ form_widget(form.tpeParameters.portSoap) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <a class="btn btn-lg col-md-offset-1 col-md-4" data-toggle="modal" data-target="#modalLibelles" style="border:solid gold 1px; background-color: #606060;padding: 10%">
                <h1 style="text-decoration: none;font-family: 'Lato';color: gold">LIBELLES</h1>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalLibelles" tabindex="-1" role="dialog" aria-labelledby="prime" aria-hidden="true">
                <div class="modal-dialog" style="width: 80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">LIBELLES</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header1) }}
                                            {{ form_errors(form.tpeParameters.header1) }}
                                            {{ form_widget(form.tpeParameters.header1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header2) }}
                                            {{ form_errors(form.tpeParameters.header2) }}
                                            {{ form_widget(form.tpeParameters.header2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header3) }}
                                            {{ form_errors(form.tpeParameters.header3) }}
                                            {{ form_widget(form.tpeParameters.header3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header4) }}
                                            {{ form_errors(form.tpeParameters.header4) }}
                                            {{ form_widget(form.tpeParameters.header4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.header5) }}
                                            {{ form_errors(form.tpeParameters.header5) }}
                                            {{ form_widget(form.tpeParameters.header5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer1) }}
                                            {{ form_errors(form.tpeParameters.footer1) }}
                                            {{ form_widget(form.tpeParameters.footer1) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer2) }}
                                            {{ form_errors(form.tpeParameters.footer2) }}
                                            {{ form_widget(form.tpeParameters.footer2) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer3) }}
                                            {{ form_errors(form.tpeParameters.footer3) }}
                                            {{ form_widget(form.tpeParameters.footer3) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer4) }}
                                            {{ form_errors(form.tpeParameters.footer4) }}
                                            {{ form_widget(form.tpeParameters.footer4) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_label(form.tpeParameters.footer5) }}
                                            {{ form_errors(form.tpeParameters.footer5) }}
                                            {{ form_widget(form.tpeParameters.footer5) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="row">
            <button type="submit" value="valider" name="valider" class="btn btn-primary">Valider</button>
        </div>

        </div>
    </div>
