{% extends 'CibCoreBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Acceuil</a> > Login
            </div>
        </div>
    </div>


        <div class="container-fluid" >
            <div class="container">
                <div style="margin-top: 5%">
                    {% block fos_user_content %}
                        {% if error %}
                            <div>{{ error|trans }}</div>
                        {% endif %}

                        <form action="{{ path("fos_user_security_check") }}" method="post" class="symfony-form-column">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="row">
                                <div class="col-md-offset-3 col-md-2">
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                    <input type="password" id="password" name="_password" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3">
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn" style="margin-top:3%;margin-left: 20%"/>
                                </div>
                            </div>



                            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}


                        </form>
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>


    {#{% block fos_user_content %}#}
        {#{% if error %}#}
            {#<div>{{ error|trans }}</div>#}
        {#{% endif %}#}

        {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            {#<input type="password" id="password" name="_password" required="required" />#}

            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        {#</form>#}
    {#{% endblock fos_user_content %}#}

{% endblock body %}

