<div class="row">
    <div class="col-lg-offset-0 ">
        <table class="table table-responsive">
            <tr class="titleTable">
                <td colspan="2"><center><B>Propriété du TPE</B></center></td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.logoName) }}</td>
                <td>{{ form_widget(form.logoName) }} {{ form_errors(form.logoName) }}</td>
            </tr>
            <tr class="row0">
                <td>{{ form_label(form.logoTypeTPE) }}</td>
                <td>{{ form_widget(form.logoTypeTPE) }} {{ form_errors(form.logoTypeTPE) }}</td>
            </tr>
            <tr class="row0">
                <td>{{  form_label(form.logoGoal) }}</td>
                <td>{{ form_widget(form.logoGoal) }} {{ form_errors(form.logoGoal) }}</td>
            </tr>
            <tr class="titleTable">
                <td colspan="2"><center><B>Entete du Ticket</B></center></td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.intitule1) }}</td>
                <td>{{ form_widget(form.intitule1) }} {{ form_errors(form.intitule1) }}</td>
            </tr>
            <tr class="row0">
                <td>{{ form_label(form.intitule2) }}</td>
                <td>{{ form_widget(form.intitule2) }} {{ form_errors(form.intitule2) }}</td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.intitule3) }}</td>
                <td>{{ form_widget(form.intitule3) }} {{ form_errors(form.intitule3) }}</td>
            </tr>
            <tr class="row0">
                <td>{{ form_label(form.intitule4) }}</td>
                <td>{{ form_widget(form.intitule4) }} {{ form_errors(form.intitule4) }}</td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.intitule5) }}</td>
                <td>{{ form_widget(form.intitule5) }} {{ form_errors(form.intitule5) }}</td>
            </tr>
            <tr class="titleTable">
                <td colspan="2"><center><B>Logo</B></center></td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.logoTopTicket) }}</td>
                <td>{{ form_widget(form.logoTopTicket) }} {{ form_errors(form.logoTopTicket) }}</td>
            </tr>
            <tr class="row2">
                <td>{{ form_label(form.logoWallpaper) }}</td>
                <td>{{ form_widget(form.logoWallpaper) }} {{ form_errors(form.logoWallpaper) }}</td>
            </tr>
            {{ form_widget(form) }}
            <tr>
                <td colspan="2">
                    <br>
                    <center> <button class="btn btn-lg btn-success" type="submit" name="valid">Valider</button></center>

                </td>
            </tr>
        </table>
    </div>
</div>
