<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientNumber) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientName) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientFirstName) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientNumber) }}
        {{ form_widget(form.clientNumber) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientName) }}
        {{ form_widget(form.clientName) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientFirstName) }}
        {{ form_widget(form.clientFirstName) }}
    </div>

</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientGender) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientBirthDate) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientGender) }}
        {{ form_widget(form.clientGender) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientBirthDate) }}
        {{ form_widget(form.clientBirthDate) }}
    </div>
</div>
<div class="row">

    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientAddress) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientZipCode) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientCity) }}
    </div>
</div>
<div class="row">

    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientAddress) }}
        {{ form_widget(form.clientAddress) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientZipCode) }}
        {{ form_widget(form.clientZipCode) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientCity) }}
        {{ form_widget(form.clientCity) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.homePhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.cellPhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.officePhone) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.homePhone) }}
        {{ form_widget(form.homePhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.cellPhone) }}
        {{ form_widget(form.cellPhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.officePhone) }}
        {{ form_widget(form.officePhone) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.mailAddress) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.mailAddress) }}
        {{ form_widget(form.mailAddress) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        {{ form_label(form.pictureFile) }}
        {{ form_errors(form.pictureFile) }}
        {{ form_widget(form.pictureFile) }}

        {% if client.pictureName %}
            <div>
                <img src="{{ asset(client.getWebPath()) }}" alt="photo identité" style="width:20%;height:20%"/>
            </div>
        {% endif %}
    </div>
</div>

<ul class="card" data-prototype="{{ form_widget(form.card.vars.prototype)|e }}">
    {% for card in form.card %}
    <li style="list-style-type: none">
        {{ form_widget(card) }}
    </li>
    {% endfor %}
</ul>
{{ form_rest(form) }}
<button type="submit" value="valider" name="valider" class="btn">Valider</button>


