<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.clientNumber) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientName) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientFirstName) }}
    </div>
</div>
<div class="row">
    <div class=" col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_errors(form.clientNumber) }}
        {{ form_widget(form.clientNumber) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientName) }}
        {{ form_widget(form.clientName) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientFirstName) }}
        {{ form_widget(form.clientFirstName) }}
    </div>

</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.clientGender) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientBirthDate) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_errors(form.clientGender) }}
        {{ form_widget(form.clientGender) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientBirthDate) }}
        {{ form_widget(form.clientBirthDate) }}
    </div>
</div>
<div class="row">

    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.clientAddress) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientZipCode) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.clientCity) }}
    </div>
</div>
<div class="row">

    <div class=" col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_errors(form.clientAddress) }}
        {{ form_widget(form.clientAddress) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientZipCode) }}
        {{ form_widget(form.clientZipCode) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.clientCity) }}
        {{ form_widget(form.clientCity) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.homePhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.cellPhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_label(form.officePhone) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_errors(form.homePhone) }}
        {{ form_widget(form.homePhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.cellPhone) }}
        {{ form_widget(form.cellPhone) }}
    </div>
    <div class="col-xs-3 col-md-3">
        {{ form_errors(form.officePhone) }}
        {{ form_widget(form.officePhone) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.mailAddress) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_errors(form.mailAddress) }}
        {{ form_widget(form.mailAddress) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3">
        {{ form_label(form.pictureFile) }}
        {{ form_errors(form.pictureFile) }}
        {{ form_widget(form.pictureFile) }}
    </div>
        {% if client.pictureName %}
            <div class="col-xs-3 col-md-3">
                <img src="{{ asset(client.getWebPath()) }}" alt="photo identité" style="width:50%;height:50%"/>
            </div>
        {% endif %}
</div>
<br>
<div class="row">
    <div class="col-xs-offset-5 col-md-offset-5 col-xs-2 col-md-2">
        <h1><a href="#" id="toggleCard">Cartes</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-md-offset-2">
        <div class="toggle well" style="display: none">
            <ul class="card list-inline" data-prototype="{{ form_widget(form.card.vars.prototype)|e }}">
                {% for card in form.card %}
                    <li style="list-style-type: none">
                        {{ form_widget(card) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_rest(form) }}

        </div>
    </div>
</div>
<br>
<div class="row">

        <button type="submit" value="valider" name="valider" class="btn btn-primary btn-lg" style="margin-left: 44%">Valider</button>

</div>

